a {
    color: #0095C0;
    text-decoration: none;
}

#EasyLocatorWrapper { margin-bottom:10px;}

div#map {
    width: 600px !important;
    height: 465px !important;
}

#container {
    margin: 0 auto;
    min-height: 450px;
    padding: 0;
    position: relative;
    width: inherit;
}

#wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

#box1 {
    background-color: #FFFFFF;
    display: block;
    float: left;
    position: relative;
    width: 625px;
}

#box2 {
    background-color: #2E3336;
    float: right;
    margin: 0 0 20px;
    height: 600px;
    position: relative;
    width: 300px;
}
#map_canvas {
    margin: 0 auto;
    width: 600px;
}

.search_filter_box {
    margin-bottom: 10px;
    overflow: auto;
}
.search_filter_box_right {
    height: auto;
}
.search_filters {
    padding: 0 10px 10px;
}
.search_filter_name {
    line-height: 13px;
    vertical-align: bottom;
}

li.search_filter_text {
    clear: both;
    color: #000000;
    float: none;
    font-weight: bold;
   /* line-height: 20px;*/
  	margin-bottom: 5px;
}

li.search_filter_item {
    background-color: #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    float: left;
    font-size: 10px;
    margin: 0 0 2px 2px;
    padding: 2px 3px;
}
.fieldwrap {
    background-color: #0095C0;
    border-bottom: 2px solid #86929C;
    height: 38px;
    margin-bottom:10px;
    overflow: auto;
    padding: 10px 10px 3px;
    width: 605px;
}
#frmsearch input.fmtext {
    float: left;
    font-size: 16px;
    width: 500px;
}

#frmsearch input.fmtext {
    width: 485px;
}

#frmsearch input.fmsubmit {
    float: left;
    margin-left: 5px;
    width: auto;
}
input[type="submit"], button {
    background: none repeat-x scroll 0 0 #F4F4F4;
    border: 1px solid #E1E1E1;
    color: #D5C9B7;
    cursor: pointer;
    font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    padding: 2px 7px;
    text-decoration: none;
}

#plug {
    color: #000000;
    font-size: 8px;
    padding: 3px 0 0 11px;
}

#results_header {
    background-color: #4F565C;
    border-bottom: 2px solid #86929C;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color:#fff;
    font-size: 1.25em;
    font-weight: bold;
    height: 39px;
    line-height: 28px;
    padding: 12px 0 0 14px;
}
#results {
    font-size: 10px;
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

.result {
    border-bottom: 1px dashed #D5C9B7;
    overflow: auto;
    padding: 12px;
}

.directions {
    float: right;
    margin-top: 1em;
}

.products li {
   background-color: transparent;
}



.even {
    background-color: #000000;
}

.r_email a, .r_website_url a, .directions a {
    color: #FFB40F;
    text-decoration: none;
}

.r_email a:hover, .r_website_url a:hover, .directions a:hover {
    color: #FFED3D;
    text-decoration: underline;
}

.address {
    color: #FFFFFF;
}

.info {
    color: #FFFFFF;
    margin-top: 1em;
}