/*************************************************/
/**** Begin - Main Navigation CSS - Site Wide ****/
/*************************************************/
.activePage {
	border-bottom: 2px solid #1C97C1;
}
nav {
    float: right;
    height: 38px;
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
}
.mainNav {
	
}
.subNav_top {
	clear:both;
	width:960px;
	padding: 10px 20px 10px 20px;
}
.subNav_bottom {
	clear:both;
	width:915px;
	padding: 0px 20px 0px 20px;
}
.subNav_home {
	width:150px;
	min-height: 35px;
}
#jsddm {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 888;
}

#jsddm2 {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 25px;
    z-index: 888;
}
#jsddm li, #jsddm2 li {
    float: left;
    list-style: none outside none;
    margin: 0;
}

#qLink {
    padding:3px;
}

#qLink li {
    float: left;
    list-style: none outside none;
}

#contactLink li {
	float: right;
	list-style: none;
	margin: 0px 0px 0px 0px;
}
#jsddm li a, #contactLink li a, #jsddm2 li a {
    color: #FFFFFF;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    padding: 12px 8px;
    text-decoration: none;
}

#qLink a {
    color: #FFFFFF;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.60em;
    font-weight: bold;
    text-decoration: none;
    float: left;
}
#jsddm li a:hover, #contactLink li a:hover, #qLink li a:hover, #jsddm2 li a:hover {
	/*background: #86929C;*/
	color: #1C97C1;
}
#jsddm li ul, #jsddm2 li ul {
	display: none;
    height: 40px;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
	position: absolute;
	z-index:999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	width: 938px;
	left:0px;
	background: #86929C;
}
#jsddm li ul li, #jsddm2 li ul li {
	float: left;
	display:block;
	
}

#jsddm li ul li:first-child, #jsddm2 li ul li:first-child {
	border-right: 1px solid #444B50;
}
#jsddm li ul li a, #jsddm2 li ul li a {
	width: auto;
	padding:4px 20px 4px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .70em;
	background: #86929C;
	color: #ffffff;
}
#jsddm li ul li a:hover, #jsddm2 li ul li a:hover {
	background: #86929C;
	color: #212121;
}
#jsddm .contactLink, #jsddm2 .contactLink {
	margin-left:400px;
}

.angleQuoteMark {
	margin-left:3px;
	margin-right:3px;
}
/*************************************************/
/**** END - Main Navigation CSS - Site Wide ****/
/*************************************************/