@font-face {
	font-family: 'walker';
	font-weight:700;
	src: url("../fonts/walkway_black-webfont.eot");
}

@font-face {
	font-family:'walker';
	font-weight:700;
	src: url("../fonts/walkway_black-webfont.ttf");
}

/* --------------------------------------------------------------------
  END - Embed font	
-------------------------------------------------------------------- */

/* --------------------------------------------------------------------
  START - CSS Reset																	
 -------------------------------------------------------------------- */
/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline:  0;
	text-decoration: none;
	vertical-align:middle;
}
:focus, :active {
	outline: 0;
}
ol, ul {
	list-style: none;
}
header, nav, article, aside, footer, hgroup, section {
	display: block
}
.clearfloat {
	margin:0 auto;
	clear:both;
	font-size: 1px;
	height:0px;
	width:100%;
}
.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
/* --------------------------------------------------------------------
  END - CSS Reset																	
 -------------------------------------------------------------------- */
 
body {
	font-size:100%;
	color: #fff;
	font-family:  Arial, Helvetica, sans-serif;
	background-color:#161616;
	margin-top:10px;
}
h1 {
	color: #FFFFFF;
    font-family: 'walker',Arial,Helvetica,sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 0;
}
h2 {
	color: #FFFFFF;
    font-family: 'walker',Arial,Helvetica,sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 0;
}
h3 {
	color:#fff;
	font-size:0.80em;
	font-family:  'walker', Arial, Helvetica, sans-serif;
	letter-spacing:2px;
}
h4 {
	color:#fff;
	font-size:0.75em;
	font-family:  Arial, Helvetica, sans-serif;
	font-weight:bold;
}
h5 {
	color:#000;
	font-size:0.75em;
	font-family:  Arial, Helvetica, sans-serif;
}
hr {
	margin:5px 10px 5px 10px;
}
p {
	color: #FFFFFF;
	font-family:  'Open Sans Regular', Arial, Helvetica, sans-serif;
	font-size:0.80em;
	line-height: 1.4em;
	text-align: left;
}

b {
	color: #000000;
	font-family:  'Open Sans Regular', Arial, Helvetica, sans-serif;
	font-size:0.85em;
	line-height: 1.4em;
	text-align: left;
}
li {
	font-family:  'Open Sans Regular', Arial, Helvetica, sans-serif;
	text-align:left;
	color:#000000;
}

A {
	text-decoration:none;
	color: #444B50;
	font-weight:bold;
	vertical-align:top;
}

section A, .ui-tabs-nav A {
	color:#ffffff;
}

A:hover {
	color:#1c97c1;
}
#wrapper {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom:10px;
	background-color:#000000;
}

/*************************************************/
/**** BEGIN - Header CSS - Site Wide ****/
/*************************************************/
header {
    /*border-bottom: 20px solid #444B50;*/
    clear: both;
    height: 100px !important;
    margin: 0 auto;
    width: 940px;
    position: relative;
}

header h1 {
	width: 400px;
}

#quickLinks {
    background-color: #444B50;
    clear: both;
    height: 20px !important;
    margin: 0 auto;
    width: 940px;
    position: relative;
}

.aglogo {
	margin-left: 20px;
	margin-top: 25px;
	float:left;
}

/*************************************************/
/**** End - Header CSS - Site Wide ****/
/*************************************************/



/*************************************************/
/**** Begin - Main Content CSS - Site Wide  #E6DEC8 ****/
/*************************************************/

#mainImage {
	height: auto;
	overflow:  hidden;
	width: 940px;
	background-color:#BDB7A5;
	position:relative;
}
#mainContentImage {
    height: auto;
    margin: 0 auto 20px;
    overflow: hidden;
    position: relative;
    width: 940px;
    border-top: 4px solid #86929C;
}

#mainContentImage.marvelProd {
	background-color: #4F565C;
    height: 241px;
}

#mainContentImage.marvelProd img{

}

#mainContentImage.marvelProd .indexTitle1 {
	 height: 237px;
}

#slideShowControls, #slideShowControls1 {
   	font-family: Arial,Helvetica,sans-serif;
    font-size: 0.8em;
    height: auto;
    position: absolute;
    text-align: center;
    z-index: 999;
}

#slideShowControls1 #pgr { 
	background: none repeat scroll 0 0 #BDCEDC;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#BDCEDC));
	background: -moz-linear-gradient(top, #ffffff, #BDCEDC);
 	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ffffff, endColorStr=#BDCEDC);
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ffffff, endColorStr=#BDCEDC);

    border: 1px solid #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    color: #161616;
    float: left;
    font-size: 1.15em;
    height: 20px;
    line-height: 20px;
    list-style: none outside none;
    margin: 0 5px;
    text-align: center;
    text-decoration: none;
    width: 35px;
}

.slide_Prod {
    left: 485px;
    top: 445px;
    width: 200px;
}

.slide_Index {
    left: 710px;
    top: 458px;
    width: 212px;
}

#slideShowControls #navSlideShow ul {
	
}
#slideShowControls #pgr li { 
	background: none repeat scroll 0 0 #BDCEDC;
    border: 1px solid #FFFFFF;
    color: #161616;
    float: left;
    height: 35px;
    list-style: none outside none;
    margin: 0 5px;
    text-align: center;
    text-decoration: none;
    width: 25px;
}

#slideShowControls #pgr li.activeSlide { 
	background: #0095C0;
	border: 1px solid #ffffff;
	color:#ffffff;
	height:35px;
	width:25px;
}

#slideShowControls #pgr li a { 
	line-height: 33px;
    padding: 8px;
}

#slideShowControls1 a { 
    background: none repeat scroll 0 0 #BDCEDC;
    border: 1px solid #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    color: #161616;
    float: left;
    height: 20px;
    list-style: none outside none;
    line-height: 18px;
    margin: 0 3px;
    text-align: center;
    text-decoration: none;
    width: 60px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#666666));
	background: -moz-linear-gradient(top, #ffffff, #666666);
 	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ffffff, endColorStr=#666666);
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ffffff, endColorStr=#666666);
}

#slideShowControls1 a:hover { 
	background: #0095C0;
	 background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#0095C0));
	background: -moz-linear-gradient(top, #ffffff, #0095C0);
 	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ffffff, endColorStr=#0095C0);
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ffffff, endColorStr=#0095C0);
	border: solid #999999 1px;
	color:#ffffff;
	
}
#slideShowControls1 .prev_next {
	font-size: 1.2em;
    width: 35px;
}

.btn_click {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#cccccc), to(#ffffff));
 	background: -moz-linear-gradient(top, #cccccc, #ffffff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#666666);
}

.navSlideShow a:focus { outline: none; }

#slideShowControls .slideShowBtn {
	margin:5px 2px 0px 2px;
	vertical-align:top;
}

#slideshow {
	width:940px;
	height:500px;
	border-bottom:4px solid #4F565C;
}

#slideshow_Prod {
	width:470px;
	height:500px;
	float:right;
	border-bottom:4px solid #4F565C;
}
#slideClosePanel {
	background-color:#938460;
	width:322px;
	height:30px;
}

#slideshow.pics img {
	width:940px;
	height:500px;
}

#slideshow_Prod.pics img {
	width:470px;
	height:500px;
}

#mainImage #collectionContent, #mainContentImage #collectionContent {
	position: absolute;
	bottom:5px;
	width:100%;
	z-index:2;
	margin:50px 0px 0px 0px;
}
.indexTitle {
	border: 1px solid #FFFFFF;
	position: absolute;
	top: 445px;
	background-color:#D1D2D4;
	width:615px;
	height:45px;
	left:10px;
	z-index:400;
	overflow: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	-webkit-box-shadow: 1px 1px 5px  #333333;
	box-shadow:1px 1px 5px #333333;
}

.indexTitle:hover {
	border-color: #0095C0;
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 5px  #0095C0;
	box-shadow:1px 1px 5px #0095C0;
	
}

.indexTitle #hide_btn {
	border: 1px solid #B2B2B2;
	background-color: #B7B7B7;
    font-size: 0.75em;
    font-weight: bold;
    height: 16px;
    line-height: 13px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 3px;
    width: 15px;
    cursor: pointer;
    color: #000000;
}

.indexTitle #hide_btn:hover {
	background-color: #999999;
	color: #ffffff;
}
.indexTitle1 {
	background-color: #ffffff;
	border-bottom: 4px solid #4F565C;
    height: 179px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 582px;
    z-index: 400;
}

.productTitle1 {
	background-color: #FFFFFF;
    border-bottom: 4px solid #4F565C;
    height: 179px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 582px;
    z-index: 400;
}
.mainImg {
	float:right;
	width: 357px;
	border-bottom: 4px solid #4F565C;
}

.brandImg {
	width:470px;
	height:500px;
}

.specImg {
	width:470px;
	height:230px;
}


.mainCopyBrand {
	height: 500px;
    width: 469px;
    border-bottom:4px solid #4F565C;
}

.specCopy {
	height: 230px;
    width: 469px;
    border-bottom:4px solid #4F565C;
}


.indexTitle h1 {
    color: #000000;
    margin: 8px 0 0 15px;
    text-shadow: 4px 3px 10px #FFFFFF;
}

.indexTitle1 h2, .productTitle1 h2 {
	margin:25px 0px 0px 15px;
	color:#000000;
}
.indexTitle h2 {
    color: #000000;
    margin: 8px 0 0 15px;
    text-shadow: 4px 3px 10px #FFFFFF;
}
.indexTitle h3, .indexTitle1 h3, .productTitle1 h3 {
    color: #000000;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.6em;
    margin: 15px 13px;
    width: auto;
}
.indexTitle p {
	color: #000000;
    font-size: 0.75em;
    margin: 10px 15px;
    width: auto;
}

.indexTitle1 p,.productTitle1 p {
	color:#000;
	font-size:.80em;
	margin: 15px 20px 15px 15px;
	width: auto;
}
#mainImage #hideBtn, #mainContentImage #hideBtn {
	position: absolute;
	z-index:2;
	right:20px;
	font-size:.75em;
	color:#fff;
	margin: 10px 0px 0px 0px;
}
#mainImage #hideBtn a, #mainContentImage #hideBtn a {
	font-size:.75em;
	color:#fff;
}
#wrapper #mainContent {
    height: auto;
    margin-bottom: 18px;
    overflow: auto;
    padding: 0 10px;
    width: 940px;
}
#mainContent h5 {
    margin: 35px 0 5px 15px;
}
/*************************************************/
/**** Begin -  MainContent Modules/Box CSS Formating - Index.php ****/
/*************************************************/

#mainContent .indexbox1 {
    background-color: #2E3336;
    float: left;
    height: 450px;
    margin: 0 0 20px;
    position: relative;
    width: 300px;
}

#mainContent .indexbox1 a h3:hover, #mainContent .indexbox3 a h3:hover {
	background-color:#525a60;
}

#mainContent .tabbox1 {
	background-color: #2E3336;
    float: left;
    height: 450px;
    margin: 0 0 20px;
    position: relative;
    width: 300px;
}

#mainContent .tabbox2 {
	background-color: #ffffff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #FFFFFF;
    font-size: 1.25em;
    height: 38px;
    line-height: 28px;
   	float: right;
    min-height: 500px;
    width: 618px;
}
.last {
	margin-right: 0 !important;
}
#mainContent .indexbox2 {
	float:left;
	width:300px;
	height:440px;
	/*padding:0px 20px 20px 20px;*/
	margin:0px 20px 0px 20px;
	position:relative;
}
#mainContent .indexbox3 {
    background-color: #2E3336;
    clear: right;
    float: left;
    height: 450px;
    margin: 0;
    position: relative;
    width: 300px;
}
/*************************************************/
/**** End -  Product Modules/Box CSS Formating
/*************************************************/
/**** Begin -  Product Modules/Box CSS Formating - Site Wide  -  ****/
/*************************************************/

#mainContent .box1 {
	float:left;
	width:277px;
	height:250px;
	padding:0px 20px 0px 20px;
	margin:20px 0px 00px 0px;
	border-right:#5A5E4D 1px dotted;
	position:relative;
}
#mainContent .box2 {
	float:left;
	width:277px;
	height:250px;
	padding:0px 20px 0px 20px;
	margin:20px 0px 0px 0px;
	position:relative;
}
#mainContent .box3 {
	border-left:#5A5E4D 1px dotted;
	float:left;
	clear:right;
	width:277px;
	height:250px;
	padding: 0px 20px 0px 20px;
	margin:20px 0px 0px 0px;
	position:relative;
}
/*************************************************/
/**** End -  Product Modules/Box CSS Formating - Site Wide ****/
/*************************************************/


/*************************************************/
/**** Begin -  Dynamic Height Modules/Box CSS Formating - Site Wide -  ****/
/*************************************************/

#mainContent .dynamicHtbox1 {
	min-height:280px;
	float:left;
	width:277px;
	padding:0px 20px 0px 20px;
	margin:20px 0px 00px 0px;
	border-right:#5A5E4D 1px dotted;
	position:relative;
}
#mainContent .dynamicHtbox2 {
	float:left;
	width:277px;
	min-height:280px;
	padding:0px 20px 0px 20px;
	margin:20px 0px 0px 0px;
	position:relative;
}
#mainContent .dynamicHtbox3 {
	border-left:#5A5E4D 1px dotted;
	float:left;
	clear:right;
	width:277px;
	min-height:280px;
	padding: 0px 20px 0px 20px;
	margin:20px 0px 0px 0px;
	position:relative;
}
/*************************************************/
/**** End -  Dynamic Height Modules/Box CSS Formating - Site Wide -  ****/
/*************************************************/

/*************************************************/
/**** Begin - MoreInfo Link CSS Formating - Site Wide - all pages ****/
/*************************************************/
.moreInfoDiv {
    background-color: #444B50;
    bottom: 0;
    height: 23px;
    position: absolute;
    text-align: right;
    width: inherit;
    z-index: 2;
}

.moreInfoDiv a {
	margin-right: 5px;
}
.moreInfoLink {
	width: 280px;
	margin:0px 0px 0px 0px;
	text-align:right;
}
.moreInfoLink span, .moreInfoDiv span {
	margin-left:5px;
	margin-right:5px;
	font-size: .70em;
}
.moreInfoLink a, .moreInfoDiv a {
	color:#FF9900;
}
.moreInfoLink a:hover, .moreInfoDiv a:hover {
	color:#FFF;
}
/*************************************************/
/**** End - MoreInfo Link CSS Formating - Site Wide - all pages ****/
/*************************************************/

#mainContent .formbox1 {
	float: left;
	height: auto;
	margin: 20px 0;
	padding: 0 20px 20px;
	width: 436px;
}
#mainContent .formbox2 {
	float:left;
	clear:right;
	height: auto;
	width: 436px;
	height:auto;
	margin: 20px 0px;
	padding:0px 20px 20px 20px;
	border-left:#5A5E4D 1px dotted;
}
#mainContent .aboutbox1 {
	float: left;
	height: auto;
	margin: 20px 0;
	padding: 0 20px 20px;
	width: 590px;
}
#mainContent .aboutbox2 {
	float:left;
	clear:right;
	height: auto;
	width: 280px;
	height:auto;
	margin: 20px 0px;
	padding:0px 20px 20px 20px;
	border-left:#5A5E4D 1px dotted;
}
#mainContent .contactbox1 {
	float: left;
	height: auto;
	margin: 20px 0;
	padding: 0 20px 20px;
	width: 452px;
}
#mainContent .contactbox2 {
	float:left;
	clear:right;
	height: auto;
	width: 420px;
	height:auto;
	margin: 20px 0px;
	padding:0px 20px 20px 20px;
	border-left:#5A5E4D 1px dotted;
}
#mainContent .agContactInfo {
	float:left;
	clear:both;
	height: auto;
	width: 280px;
	height:auto;
	margin: 0px 0px;
}
.menuLink {
	margin: 20px 0px 20px 10px;
	font-size: .75em;
	font-family:  Arial, Helvetica, sans-serif;
	font-weight: bold;
}
/********************************************************************************************************/
/*************************************************/
/**** End - Main Content CSS - Site Wide ****/
/*************************************************/
/********************************************************************************************************/

/*************************************************/
/**** Begin - <SECTION> HTML AREA Content CSS - Site Wide ****/
/*************************************************/

section h2 {
	background-color: #2E3336;
    border-radius: 2px 2px 2px 2px;
    color: #BDCEDC;
    font-size: 0.75em;
    height: auto;
    margin: 0 0 10px;
    padding: 5px 0 5px 5px;
}
/**** Begin - <SECTION> Catergory Box Content CSS - Site Wide. FOR IE browsers < IE9+ ----- SEE SITEWIDE_SCRIPTS.JS ($('.boxH3bg, section h3')_****/
section h3 {
    background-color: #444B50;
    border-bottom: 2px solid #86929C;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #FFFFFF;
    font-size: 1.25em;
    height: 34px;
    line-height: 20px;
    padding: 12px 0 0 14px;
    width: auto;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
}

.prodBox_odd, .prodBox_even {
	background-color: #2E3336;
    float: left;
    height: 334px;
    margin: 0 22px 20px 0;
    position: relative;
    width: 218px;
}

.oneHalfBox {
	width: 98px;
}

.prodBox_even h3 {
	background-color: #4F565C;
	padding: 6px 0 6px 14px;
}

.prodBox_odd h3 {
	background-color: #BDCEDC;
    padding: 6px 0 6px 14px;
}

section .h3TabContent {
   background-color: #0095C0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #FFFFFF;
    font-size: 1em;
    height: 34px;
    line-height: 23px;
    padding: 12px 0 0 14px;
    width: auto;
}
.subBox {
    border-bottom: 16px solid #BDCEDC;
    margin-bottom: 18px;
    width: 300px;
}

.subBox h3, .subBox1 h3 {
	background-color:#BDCEDC;
	color:#0095C0;
}

.subBox a h3:hover, .subBox1  a h3:hover {
	background-color:#a2b6c6;
}
/**** End - Catergory Box Content CSS - Site Wide ****/

section h4 {
	margin: 0 15px 15px;
	font-style:italic;
}

.tabbox2 h4 {
    color: #000000;
    font-style: italic;
    margin: 8px 15px 15px;

}
section ul {
	margin: 0 10px 0 5px;
}
section li {
	margin:0px 0px 5px 15px;
	list-style:   square;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

section p {
	margin:0px 15px;
}
.indexbox1 p, .indexbox3 p {
	font-size: .65em;
}
.tabbox2 p {
	color: #000000;
	}
	
section ul li {
	font-size: .75em;
}



/*************************************************/
/**** Begin - <SECTION> HTML AREA Content CSS - Site Wide ****/
/*************************************************/

/*************************************************/
/**** Begin - Footer Content CSS - Site Wide ****/
/*************************************************/
footer {
	text-align: center;
	width:960px;
	height:auto;
	color: #fff;
	margin:0px auto 10px;
	overflow:auto;
	background-color:#000;
}
footer section:first-child {
	margin: 20px 0 20px 10px;
}
footer section {
	float:left;
	height:auto;
	margin: 20px 0;
	text-align: left;
	vertical-align: top;
	width: 300px;
}
.footMid {
	margin-left: 20px;
	margin-right: 20px;
}
footer section li {
	list-style:   none;
	margin:0px 10px 5px 0px;
	color:#fff;
}
footer .socialLinks {
	margin: 0 5px;
    text-align: left;
    width: 300px;
}
footer .socialLinks li {
	display: inline-block;
	margin-right:5px;
}
footer .socialLinks li a{
	display: block;
}
/*************************************************/
/**** End - Footer Content CSS - Site Wide ****/
/*************************************************/

/*************************************************/
/**** Begin - Copyright/browser compatibility Box Content CSS - Site Wide ****/
/*************************************************/
#copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	padding: 2px 0px 2px 0px;
	width:955px;
	margin:0 auto;
	color: #999999;
}
/*************************************************/
/**** Begin - Copyright/browser compatibility Box Content CSS - Site Wide ****/
/*************************************************/



.img-title {
	margin:10px 0px 0px 10px;
}
.collectlink {
	margin: 15px 0px 15px 20px;
}
.icon {
	margin: 4px 3px 0px 3px;
}
.imageFloat1 {
	background-color: #2E3336;
    height: 260px;
    margin: 0 auto 20px;
    width: 218px;
}

.imageTabBox1 {
	background-color: #2E2326;
	border-bottom: 2px solid #86929C;
	height: 150px;
	margin: 0 auto 20px;
	width: 300px;
}

.imageCenterBox {
	background-color: #2E2326;
	border-bottom: 2px solid #86929C;
	height: 150px;
	width: 300px;
}

.imageFloat2 {
	border: 1px solid #4F565C;
    float: right;
    margin: 5px 15px 15px;
}
.imageFloat3 {
	margin: 3px auto;
	width:272px;
	border: #A09168 2px solid;
	clear:both;
}

.amerImgSm {
	width: 150px;
	height: 150px;
}

.linkList {
	float:left;
	margin: 15px 10px 10px 15px;
}


.tabs {
	margin: 10px 25px;
	float:left;
}

.tabs li {
	font-size: .80em;
	color:#FFFFFF;
}


.linkList li {
	list-style:none;
	margin: 0px 0px 5px 0px;
}

.bulletList {
    margin: 0 0 35px 35px;
    list-style: disc;
    font-size:1em;
}
.specList {
    margin: 0 0 0 25px;
}

.specList li {
	color:#000000;
}

.contactInfo {
	color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    text-shadow: 2px 2px 6px #000000;
    filter: dropshadow(color=#000000, offx=2, offy=2);
}

.contactInfo a span {
	color:#FFFFFF;
	font-size: 1.10em;
	font-weight:bold;
}
.contactInfo a span:hover {
	color: #FF9900;
}
.modeLogo {
	margin: 12px 0 0 10px;
}

.contactPad {
	padding-bottom:20px;
}

.lastFloat {
	margin-right:0px;
}

.right {
	float:right;
    margin: 15px 15px 10px 10px;
}

#EasyLocatorWrapper { margin-bottom:10px;}

#dialog_link {
    padding: 0.4em 1em 0.4em 20px;
    position: relative;
    text-decoration: none;
}

#dialog_link span.ui-icon {
    left: 0.2em;
    margin: -8px 5px 0 0;
    position: absolute;
    top: 50%;
}

.product_brand_logo {
	position: absolute;
	top:20px;
	right:20px;
	z-index: 500;
}

.social_icons {
	margin-right: 5px;
}

#image {
	overflow: auto;
	position: relative;
}
.modal-dialog p {
    color: #000000;
    font-size: 0.70em;
    text-align: center;
}
/* Contact Mode Cell Formating */
#contact-cell {
	width:inherit;
}
#contact-cell h3 {
	margin-bottom:0px;
}
#contact-cell p {
	margin-top:0px;
	margin-bottom:0px;
}

#contact-cell ul {
	margin-left:15px;
	margin-bottom:0px;
}

#contact-cell ul li {
    font-size: 0.85em;
}

/* Specifications.php list styling */
.specData {
    display: inline;
    float: left;
    margin: 10px 0 10px 15px;
    width: 550px;
}
.specData a:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.boxListItem {
    float: left;
    height: 230px;
    text-align: center;
    width: 180px;
}

.boxListItem a {
    display: block;
    font-size: 0.6em;
    line-height: 12px;
}

.box {
	background-color: #CCCCCC;
    border: 1px solid #CCCCCC;
    height: auto;
    margin: 0 auto 3px auto;
    width: 154px;
}
.specData .header {
    font-weight: bold;
    padding: 3px 0 3px 5px;
    text-align: left;
    border-radius: 3px 3px 0px 0px;
}

.header {
    background-color: #B6B6B6;
    width: 500px;
    border-bottom: 1px solid #86929C;
    float: left;
    font-size: 0.75em;
}

.header:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.pdfImgUpload {
	width: 100px;
	height: auto;
}
