## DISABLE HOTLINKING
RewriteEngine on
# Options +FollowSymlinks
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www\.)?modedistributing.com/.*$ [NC]
RewriteRule \.(gif|jpg|jpeg|png|js|css|pdf)$ http://www.modedistributing.com/dealer_tools_login.php [NC]